name: Build Project and Check Styling

on:
  push:
    branches: [ "**" ]
    paths:
      - "src/**"
      - "gradle.properties"
      - "build.gradle"
      - ".github/workflows/build.yml"
    tags-ignore: [ "**" ]

jobs:
  build-and-check:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v4.0.0
        with:
          distribution: "temurin"
          java-version: 25

      - name: Mark executable
        run: chmod +x ./gradlew

      - name: Build
        uses: burrunan/gradle-cache-action@v3
        with:
          arguments: build

      - name: Cache IntelliJ IDEA
        uses: actions/cache@v5
        with:
          path: .idea-cache
          key: idea-cache-2025.3.0

      - name: Format with IntelliJ IDEA
        uses: gXLg/intellij-idea-format@ef6ec9cff204cad7bd33882f828bc74b556a7808
        with:
          idea-url: "https://download.jetbrains.com/idea/idea-2025.3.tar.gz"
